<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.serviceseparateprocess">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServiceSeparateProcess">

        <activity
            android:name=".ByIntentActivity"
            android:exported="false"
            android:theme="@style/Theme.ServiceSeparateProcess.NoActionBar" />
        <activity
            android:name=".ByBroadcastReceiverActivity"
            android:exported="false"
            android:theme="@style/Theme.ServiceSeparateProcess.NoActionBar" />
        <activity
            android:name=".ByAIDLActivity"
            android:exported="false"
            android:theme="@style/Theme.ServiceSeparateProcess.NoActionBar"/>

        <service
            android:name=".services.Service2"
            android:enabled="true"
            android:exported="true"
            android:process=":service2" />
        <service
            android:name=".services.Service1"
            android:enabled="true"
            android:exported="true"
            android:process=":service1" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>